/* Login */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #3498db, #ffffff);
  }
  
  .login-container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    flex: 1;
    padding: 40px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #007bff;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease;
  }
  
  .form-group input:focus {
    outline: none;
    border-bottom-color: #0056b3;
  }
  
  .btn {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .login-image {
    flex: 1;
    background-color: #2e93ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-image img {
    max-width: 100%;
    max-height: 100%;
  }

  
  
 